spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
      dialect: org.hibernate.dialect.MySQLDialect
      format_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  profiles:
    active: uat
#value config dùng nhiều nơi
api:
  prefix:
course:
  limit: 9
jwt:
  expiration: 2592000 #30 days = 30 * 24 * 60 * 60
  secretKey: tqg3uhc3x4X+ebUfzqOLnG7yBQhJzhZbg4q27tU8jzE=



